header {
  text-align: center;
}
header span {
  font-weight: normal;
}
#sottologo {
  background-color: rgb(244, 237, 207);
  height: 40px;
  border-top: 1px solid rgb(212, 151, 9);
  /* Flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
}
#div1 {
  max-width: 800px;
  margin: 0% auto;
}

#imgdescription {
  margin-bottom: 20px;
}

#div1 figcaption {
  text-align: center;
}
figcaption {
  color: gray;
}
#link1 {
  color: rgb(2, 112, 103);
}
h4 {
  font-weight: 400;
}
.bold {
  font-weight: bold;
}
#lineagialla {
  border-left: solid rgb(204, 197, 8);
  padding-left: 15px;
  max-width: 800px;
  margin: 0% auto;
}
#div2 {
  max-width: 800px;
  margin: 0% auto;
}
.ingrmet {
  font-weight: 600;
  font-size: 20px;
  color: rgb(43, 41, 41);
}
div h3 {
  border-bottom: 1px solid rgb(42, 202, 247);
  padding: 20px;
}
footer {
  max-width: 800px;
  margin: 0% auto;
}
footer a {
  color: rgb(2, 112, 103);
}
